<div class="login-background">

  <form action="" class="login-form">
    <div class="center">
      <p class="login-input">
        <span class="login-heading">
          Welcome
        </span>
        <p>
          <mat-icon class="login-icon" matSuffix>person_pin</mat-icon>
        </p>
      <p class="login-input username">
        <mat-form-field appearance="standard">
          <mat-label class="login-label">Username</mat-label>
          <input matInput placeholder="Username">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p class="login-input username">
        <mat-form-field appearance="standard">
          <mat-label class="login-label">Password</mat-label>
          <input matInput placeholder="Password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </p>
      <button class="login-button" mat-button>Login</button>
      <p class="create-account-link">
        Don't have an account? <a href="#">Sign Up</a> | <a href="#">Forgot Password</a>
      </p>
    </div>
  </form>

</div>
